.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 2rem;
}

.average-rating::before {
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.2);
    background:
        linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.detail-img {
    max-height: 30rem;
    width: auto;
}

.cover-img {
    max-height: 22rem;
    width: auto;
}

.product-img {
    text-align: center;
}

.product-item,
.page-item-button {
    cursor: pointer;
}

.pagination-action-button {
    min-width: 5.5rem;
    text-align: center;
}

.richText-btn,
.richText-undo,
.richText-redo {
    color: #6C757D;
}

.thumbnail-label {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    opacity: 0.5;
    transform: translateY(-50%);
}

.thumbnail-image {
    z-index: 1;
    position: relative;
}


.cart-badge-animation {
    animation: wiggle 2s linear;
}

.cart-badge:after {
    content: attr(value);
    font-size: 12px;
    color: #FFD333;
    background: transparent;
    border-radius: 50%;
    padding: 2px 5px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
    border: #FFD333 solid 1px;
}

/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.about-us-content {
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-us-img {
    border: 5px solid #555;
}

@media (max-width: 992) {
    #homeLink {
        padding-left: 5rem
    }
}

/* About us styles */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    background-color: #FFD333;
    padding: 10px;
}

.grid-container > .grid-item {
    flex: 30%;
    background-color: #6C757D ;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.grid-item > h2 {
    color: #fff;
}

.grid-item:hover {
    background-color: #6c757d52 ;
}