<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head'); %>
</head>

<body class="container-fluid w-100 p-0">

    <header>
        <%- include('../layout/header'); %>
    </header>

    <main>
<p>HELOOOOO RAFhj-ouhonipn</p>>
    <!-- Include content here -->
   <marquee> <img src="\img\dog1.jpeg" alt="Girl in a jacket" width="500" height="600"></marquee> 

</main>

<footer>
    <%- include('../layout/footer'); %>
</footer>

<%- include('../layout/scripts'); %>

</body>

</html>