<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head'); %>
</head>

<body class="container-fluid w-100 p-0">

    <header>
        <%- include('../layout/header'); %>
    </header>

    <main>

    <!-- Include content here -->

</main>

<footer>
    <%- include('../layout/footer'); %>
</footer>

<%- include('../layout/scripts'); %>

</body>

</html>