<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head'); %>
</head>

<body class="container-fluid w-100 p-0">

    <header>
        <%- include('../layout/header'); %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row px-xl-5">
                <!-- Shop Sidebar Start -->
                <div class="col-lg-3 col-md-4">
                    <!-- Price Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span
                            class="bg-secondary pr-3">Filter by price</span></h5>
                    <div class="bg-light p-4 mb-30">
                        <form>
                            <div
                                class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input price-filter-input" id="price-1"
                                    price-min="0" price-max="10">
                                <label class="custom-control-label" for="price-1">$0 - $10</label>
                            </div>
                            <div
                                class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input price-filter-input" id="price-6"
                                    price-min="10" price-max="20">
                                <label class="custom-control-label" for="price-6">$10 - $20</label>
                            </div>
                            <div
                                class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input price-filter-input" id="price-2"
                                    price-min="20" price-max="30">
                                <label class="custom-control-label" for="price-2">$20 - $30</label>
                            </div>
                            <div
                                class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input price-filter-input" id="price-3"
                                    price-min="30" price-max="40">
                                <label class="custom-control-label" for="price-3">$30 - $40</label>
                            </div>
                            <div
                                class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input price-filter-input" id="price-4"
                                    price-min="40" price-max="50">
                                <label class="custom-control-label" for="price-4">$40 - $50</label>
                            </div>
                            <div
                                class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" class="custom-control-input price-filter-input" id="price-5"
                                    price-min="50" price-max="">
                                <label class="custom-control-label" for="price-5">$50+</label>
                            </div>
                        </form>
                    </div>
                    <!-- Price End -->

                    <!-- Color Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span
                            class="bg-secondary pr-3">Filter by Genre</span></h5>
                    <div class="bg-light p-4 mb-30">
                        <form id="genreFilterContainer">
                        </form>
                    </div>
                    <!-- Color End -->

                </div>
                <!-- Shop Sidebar End -->

                <!-- Shop Product Start -->
                <div class="col-lg-9 col-md-8">
                    <div id="bookListContainer" class="row pb-3">
                        <div class="col-12 pb-1">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div>
                                </div>
                                <div class="ml-2">
                                    <form>
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <label class="sr-only" for="sortingInput">Sorting</label>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i
                                                                class="fa-solid fa-arrow-up-wide-short"></i></div>
                                                    </div>
                                                    <select class="form-control sorting-inpput" id="sortingInput">
                                                        <option value="rating">Best Rating</option>
                                                        <option selected value="releaseDate">Latest</option>
                                                        <option value="price">Price</option>
                                                        <option value="title">Title</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <label class="sr-only" for="itemsPerPageInput">Items per
                                                    page</label>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i
                                                                class="fa-solid fa-list"></i></i></div>
                                                    </div>
                                                    <select class="form-control" id="itemsPerPageInput">
                                                        <option>10</option>
                                                        <option selected>20</option>
                                                        <option>30</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pb-1" id="emptyListMessage" style="display: none;">
                            <div class="jumbotron text-center">
                                <h3 class="display-4"><i class="fa-regular fa-face-sad-cry"></i> Oh No!</h3>
                                <p class="lead">Unfortunately no books are available with the current filters.</p>
                                <p class="lead">Please try again!</p>

                              </div>
                        </div>
                        <div class="col-12 pb-1" id="paginationContainer">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item pagination-action-button" id="paginationPrevious"><span class="page-link">Previous</span>
                                    </li>
                                    <li class="page-item pagination-action-button"  id="paginationNext"><span class="page-link">Next</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Shop Product End -->
            </div>
        </div>
    </main>

    <footer>
        <%- include('../layout/footer'); %>
    </footer>

    <%- include('../layout/scripts'); %>
        <script src="/js/books-list.js"></script>

</body>

</html>