<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
       
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="/" class="text-decoration-none d-block">
                    <span class="h1 text-uppercase text-dark bg-light px-2">BOOK</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">SHELF</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/" class="nav-item nav-link pl-4">Home</a>
                        <a href="/pages/about" class="nav-item nav-link">About Us</a>
                        <a href="/pages/contact" class="nav-item nav-link">Contact</a>
                        <div class="nav-item dropdown" id="adminMenu">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin <i
                                    class="fa fa-angle-down"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                <a href="/pages/add-book" class="dropdown-item"><i class="fa-regular fa-square-plus"></i> Add Book</a>
                            </div>
                        </div>

                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/pages/cart" class="nav-item nav-link active">
                            <span id="cartInfoLabel" class="badge text-secondary border border-secondary rounded-circle p-1">0</span>
                            <i class="fa-solid fa-cart-shopping text-primary pl-1"></i>
                        </a>
                        <div id="loggedUserArea" class="nav-item dropdown"  style="display: none;">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <span id="userNameHeader"></span>
                                <i class="fa fa-angle-down ml-1"></i>
                            </a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                <div id="logoutButton" class="dropdown-item btn">Logout
                                    <i class="fa-solid fa-right-to-bracket text-primary"></i>
                                </div>
                            </div>

                        </div>
                        <div id="userLoginArea" class="nav-item dropdown" style="display: none;">
                            <a href="/pages/login" class="nav-item nav-link">
                                Login
                                <i class="fa-solid fa-user text-primary ml-1"></i>
                            </a>
                        </div>

                    </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->